@charset "UTF-8";
/*
1 - Position
2 - Display
3 - Box Model
4 - Background
5 - Typography
6 - Pseudo
*/
:root {
    --white: white;
    --black: black;
    --purple: #5e2c81;
    --aquamarine: #4ca69f;
    --darkAquamarine: #438f89;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--purple);
}

main {
    display: flex;
    flex-direction: column;
    width: 250px;
    border-radius: 18px;
    box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.400);
    background-color: var(--white);
}

main > img {
    height: 200px;
    background: url(../imgs/backGround.jpg) no-repeat;
    border-radius: 15px 15px 0 0;
    background-position: left;
    background-size: cover;
}

main > section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    padding-top: 16px;
    padding-bottom: 30px;
}

section > p, section > h2 {
    margin-bottom: 16px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.212);
}

section input {
    width: 100%;
    border-radius: 5px;
    padding: 8px;
}


section input[type=text], section input[type=password] {
    border: 1px solid var(--purple);
    border-radius: 0px 5px 5px 0;
}

section input[type=submit] {
    margin: auto;
    margin-top: 3px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.400);
    border: 1px solid var(--aquamarine);
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.212);
}

section span {
    background-color: var(--purple);
    color: var(--white);
    padding: 5px;
    border-radius: 5px 0 0 5px;
}

section div.input {
    display: flex;
    margin-top: 3px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.400);
}

section #entrar {
    background-color: var(--aquamarine);
    color: var(--white);
    font-size: 0.9em;
}

section #esqueciSenha {
    color: var(--aquamarine);
    font-size: 0.9em;
    font-weight: normal;
}

section #entrar:hover, section #esqueciSenha:hover {
    transition: 0.3s;
    background-color: var(--darkAquamarine);
}

section #esqueciSenha:hover {
    border: 1px solid rgb(150, 150, 150);
    color: var(--white);
}